<html ng-app="myApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        load jQuery before angular. In that case Angular will
        recognize it is present and use it instead of its
        jquery.lite module.
    -->
    <!--<script src="jquery.js"></script>-->
    <!--<script src="./libs/angular/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>

    <script src="myApp.js"></script>
    <script src="reverseFilter.js"></script>
    <script src="helloWorldDirective.js"></script>

    <script src="./calculator/index.js"></script>
    <script src="./calculator/calculatorController.js"></script>
    <script src="./calculator/calculatorService.js"></script>
</head>
<body ng-controller="CalculatorController">
    <hello-world></hello-world>
    <div>
        <input ng-model="first" />
        <input ng-model="second" />
        <button ng-click="add(first, second)">=</button>
        <span>{{ sum }}</span>
    </div>
    <div>
        <!-- | symbolisiert filter. -->
        Reversed: {{ sum | currency: '€' }}
    </div>
    <div>
        <input ng-model="query" />
        <table>
            <tr>
                <th>Title</th>
                <th>Price</th>
            </tr>
            <!--
                "ng-repeat" for looping.

                Bei der "filter" instruktion keine "" da es sich
                um die Variable handelt und nicht um einen String.

            -->
            <tr ng-repeat="article in articles | filter:query | orderBy:'title'">
                <td>{{article.title}}</td>
                <td>{{article.price | currency: '€' }}</td>
            </tr>
        </table>
    </div>
</body>

</html>
