<html ng-app="myApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
        load jQuery before angular. In that case Angular will
        recognize it is present and use it instead of its
        jquery.lite module.
    -->
    <!--<script src="jquery.js"></script>-->
    <!--<script src="./libs/angular/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>

    <script src="myApp.js"></script>
    <script src="reverseFilter.js"></script>
    <script src="helloWorldDirective.js"></script>

    <script src="./calculator/index.js"></script>
    <script src="./calculator/calculatorController.js"></script>
    <script src="./calculator/calculatorService.js"></script>

    <script type="text/javascript">
      angular.module('myApp')
        .controller('MyController', ['$scope', function($scope){
          $scope.welcomeMessage = 'Hi, welcome to the Angular tutorial';

          $scope.sayHello = function(name){
            alert('Hi ' + name);
          };
        }]);
    </script>

</head>
<body ng-controller="MyController">
  <input type="text" ng-model="name" />
  <button ng-click="sayHello(name)">Say Hello</button>
</body>

</html>
